body {
    min-height: 700px;
    padding-top: 70px;
    background: url('img/bg1.jpg') transparent repeat-x top center;
    color:#707070;
}
.container {
    max-width: 1000px;
}
header{
    height: 160px;
}

#mainContainerBg{
    /*
    background: url('img/Bg.png') transparent repeat-x top center;
    */
}
#phones{
    color:#fff;
}

#mainMenu{
    background-color: #01a8d5;
}

#logo{
    width: 100px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    text-decoration: underline;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}




#productsMenu{
    width: 222px;
}
#productsMenu .myWidth{
    width: 30px;
}

#productsMenu .myWidth > .caret{
    
}
#productsMenu .btn-group{
    
}

#productsMenu .btn{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: left;
}

#productsMenu .bs-sidebar{
    margin-bottom: 22px;
}

#productsMenu .panel-info > .panel-heading{
    padding: 0px;
    border: 0;
}

#productsMenu .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    width: 197px;
    padding-left: 9px;
    
}

.affix-top{
    top:200px;
}
.affix {
    position: fixed;
    top: 75px;
}


.bs-sidenav .paddingTop{
    height: 3px;
}
.bs-sidenav .paddingBottom{
    height: 10px;
}

.bs-sidenav {
    background-color: #F7F5FA;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.bs-sidebar .nav > li > a {
    color: #716B7A;
    display: block;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover, 
.bs-sidebar .nav > li > a:focus {
    background-color: #E5E3E9;
    border-right: 1px solid #DBD8E0;
    text-decoration: none;
}
.bs-sidebar .nav > .active > a, 
.bs-sidebar .nav > .active:hover > a, 
.bs-sidebar .nav > .active:focus > a {
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid #0398bf;
    color: #0398bf;
    font-weight: bold;
}
.bs-sidebar .nav .nav {
    /*display: none;*/
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    font-size: 90%;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-top: 3px;
}
