body {
    min-height: 700px;
    padding-top: 70px;
    background: url('img/bg1.jpg') transparent repeat-x top center;
    color:#707070;
}
header{
    min-height: 150px;
}
.container {
    max-width: 1040px;
}
.myBtnInfo{
    min-width: 249px;
}

#mainContainerBg{
    /*
    background: url('img/Bg.png') transparent repeat-x top center;
    */
}
#phones{
    display: block;
    color:#fff;
    font-size: 14px;
}

#mainMenu{
    background-color: #01a8d5;
}
#mainMenu .navbar-brand{
    padding: 5px 15px;
}


#logo{
    width: 100px;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    text-decoration: underline;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}




#productsMenu{
     width: 300px;
}
#productsMenu .myWidth{
    width: 30px;
}

#productsMenu .myWidth > .caret{
    
}
#productsMenu .btn-group{
    
}

#productsMenu .btn{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: left;
}

#productsMenu .bs-sidebar{
    margin-bottom: 14px;
}

#productsMenu .panel-info > .panel-heading{
    padding: 0px;
    border: 0;
}


#productsMenu .myBtn{
    width: 300px;
}


#productsMenu .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    width: 275px;
    padding-left: 9px;
    
}

.affix-bottom{
    
}
.affix-top{
    top:20px;
}
.affix {
    position: fixed;
    
}
/*

.bs-sidenav .paddingTop{
    height: 3px;
}
.bs-sidenav .paddingBottom{
    height: 10px;
}

.bs-sidenav {
    background-color: #F7F5FA;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.bs-sidebar .nav > li > a {
    color: #716B7A;
    display: block;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover, 
.bs-sidebar .nav > li > a:focus {
    background-color: #E5E3E9;
    border-right: 1px solid #DBD8E0;
    text-decoration: none;
}
.bs-sidebar .nav > .active > a, 
.bs-sidebar .nav > .active:hover > a, 
.bs-sidebar .nav > .active:focus > a {
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid #0398bf;
    color: #0398bf;
    font-weight: bold;
}
.bs-sidebar .nav .nav {
    
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    font-size: 90%;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-top: 3px;
}
*/
/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.myH1{
    font-size: 23px;
    text-align: center;
}

#productsMenuWrp .affix {
  position: static;
}


/* First level of nav */
.bs-sidenav {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:   0px;
  padding-bottom: 0px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
  
  
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #EEA236;
  background-color: transparent;
  border-right: 1px solid #EEA236;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
    .myH1{
       text-align: left;
       font-size: 27px;
    }
    header{
        height: 160px;
    }
    .bs-sidebar .nav > .active > ul {
      display: block;
    }
 
    /* Widen the fixed sidebar */
    #productsMenuWrp .affix,
    #productsMenuWrp .affix-bottom {
      width: 300px;
    }
    #productsMenuWrp .affix {
      position: fixed; /* Undo the static from mobile first approach */
      top: 80px;
    }
    #productsMenuWrp .affix-bottom {
      position: absolute; /* Undo the static from mobile first approach */
    }
    #productsMenuWrp .affix-bottom .bs-sidenav,
    #productsMenuWrp .affix .bs-sidenav {
      margin-top: 0;
      margin-bottom: 0;
    }
    
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  #productsMenuWrp .affix-bottom,
  #productsMenuWrp .affix {
    width: 300px;
  }
}


#bs-footer{
    padding-top: 42px;
}


/* Хлебные крошки */
#path{ height: 30px; list-style: none outside none; margin: 0 0 7px 0; padding: 0; width: 100%; }
#path li.start,
#path li{background: url("/img/path_arr.png") no-repeat scroll 0 5px transparent; float: left; margin: 0 6px 0 0; padding: 0 0 0 0; }
#path li.start{background: none; padding:0;}
#path a{color:#41372a; text-decoration:underline;}
#path a:hover{text-decoration: none;}
#path li.sel{text-decoration: none;}